<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }} Corporation</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>70 East Jefryn Blvd, Suite G &bull; Deer Park, NY, 11729</li>
          <li>Phone: 631-254-5590 &bull; Fax: 631-254-5591</li>
          <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="http://www.facebook.com/JustWriteMirrorImagesCorporation">Like us on Facebook</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
